@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login .input-box{
    position:relative;
    width:100%;
    height:100px;
    margin:10px;

}

.input-box input{
    background:transparent;
    border:2px solid beige;
    border-radius: 40px;
}

.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    font-size:15px;
}

.login .remember-me{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
    margin:-15px 0 15px;
}

.remember-me a{
    display: flex;
    align-items:centre;
    gap:5px;
}
.remember-me a:hover{
    text-decoration: underline;
}


h1 {
    color: blueviolet;
    font-size: 24px;
}

p {
    font-size: 14px;
    color: gray;
}

.input-group {
    margin: 15px 0;
    width: 100%;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #2b5876;
}

button {
    width: 100%;
    padding: 12px;
    background: #2b5876;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: turquoise;
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #2b5876;
    text-decoration: none;
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.navbar{
    background-color: bisque;
    color:white;
    padding: 15px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.logout-btn{
    background-color: white;
    color: #007bff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px; 
}

.logout-btn:hover {
    background-color: #0056b3;
    color: turquoise;
}

.service {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.service img {
    width: 50px;
    height: 50px;
}

.service button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.service button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color:paleturquoise;
    color: white;
}
